{{model.questioner}}
<br>
{{model.query}}
<br>
{{model.note}}

<ul>
  {{#each model.answers as |answer|}}
  <li>{{answer.answerer}}</li>
  <li>{{answer.response}}</li>
  {{/each}}
</ul>


{{new-answer question=model saveAnswer="saveAnswer"}}
