{{model.questioner}}
<br>
{{model.query}}
<br>
{{model.note}}

<ul>
  {{#each model as |answer|}}
  <li>{{answer.answerer}}</li>
  <li>{{answer.response}}</li>
  {{/each}}
</ul>


{{new-answer answer=model addNewAnswer="addNewAnswer"}}
